<div class="container page-container">
    <!--    <ul class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="javascript:;">Pages</a></li>
            <li class="active">Contacts</li>
        </ul>-->
    <div class="row margin-bottom-40">
        <!-- BEGIN CONTENT -->
        <div class="col-md-12">
            <h1>Contacto</h1>
            <div class="content-page">
                <div class="row">
                    <div class="col-md-12">
                        <div id="map" class="gmaps margin-bottom-40" style="height:400px;"></div>
                    </div>
                    <div class="col-md-3 col-sm-3 sidebar">
                        <address>
                            <strong>Universidad Politécnica de Madrid</strong><br>
                            Calle Alan Turing, s/n,<br>
                            28031 Madrid<br>
                        </address>
                    </div>
                    <div class="col-md-3 col-sm-3 sidebar">
                        <address>
                            <strong>Teléfonos</strong><br>
                            91 336 79 03<br>
                            91 336 79 04<br>
                        </address>
                    </div>

                    <div class="col-md-3 col-sm-3 sidebar">
                        <address>
                            <strong>Email</strong><br>
                            <a href="mailto:negociado.alumnos@eui.upm.es">negociado.alumnos@eui.upm.es</a><br>
                        </address>
                    </div>

                    <div class="col-md-3 col-sm-3 sidebar">
                        <strong>Redes solciales</strong><br>
                        <ul class="social-icons margin-bottom-40">
                            <li><a href="https://www.facebook.com/eui.upm/" data-original-title="facebook" class="facebook"></a></li>
                            <li><a href="https://twitter.com/eui_UPM" data-original-title="twitter" class="twitter"></a></li>
                            <li><a href="https://www.linkedin.com/edu/universidad-polit%C3%A9cnica-de-madrid-12241" data-original-title="linkedin" class="linkedin"></a></li>
                            <li><a href="https://www.youtube.com/user/upmEUI" data-original-title="youtube" class="youtube"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- END CONTENT -->
    </div>
</div>