<div class="container page-container">

    <ul class="breadcrumb">
        <li><a href="#">Instalaciones</a></li>
        <li class="active">Galería</li>
    </ul>

    <!-- BEGIN SIDEBAR & CONTENT -->
    <div class="row margin-bottom-40">
        <!-- BEGIN CONTENT -->
        <div class="col-md-12">
            <h1>Galería</h1>
            <div class="content-page">
                <div class="row margin-bottom-40">
                    <div class="col-md-3 col-sm-4 gallery-item">
                        <a data-rel="fancybox-button" title="Pista cubierta" href="../../custom/img/galeria/1.jpg" class="fancybox-button">
                            <img alt="Pista cubierta" src="../../custom/img/galeria/1.jpg" class="img-responsive">
                            <div class="zoomix"><i class="fa fa-search"></i></div>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-4 gallery-item">
                        <a data-rel="fancybox-button" title="Pista de cristal" href="../../custom/img/galeria/2.jpg" class="fancybox-button">
                            <img alt="Pista de cristal" src="../../custom/img/galeria/2.jpg" class="img-responsive">
                            <div class="zoomix"><i class="fa fa-search"></i></div>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-4 gallery-item">
                        <a data-rel="fancybox-button" title="Torneo" href="../../custom/img/galeria/3.jpg" class="fancybox-button">
                            <img alt="Torneo" src="../../custom/img/galeria/3.jpg" class="img-responsive">
                            <div class="zoomix"><i class="fa fa-search"></i></div>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-4 gallery-item">
                        <a data-rel="fancybox-button" title="Campeonato" href="../../custom/img/galeria/4.jpg" class="fancybox-button">
                            <img alt="Campeonato" src="../../custom/img/galeria/4.jpg" class="img-responsive">
                            <div class="zoomix"><i class="fa fa-search"></i></div>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-4 gallery-item">
                        <a data-rel="fancybox-button" title="Equipación" href="../../custom/img/galeria/5.jpg" class="fancybox-button">
                            <img alt="Equipación" src="../../custom/img/galeria/5.jpg" class="img-responsive">
                            <div class="zoomix"><i class="fa fa-search"></i></div>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-4 gallery-item">
                        <a data-rel="fancybox-button" title="Equipo femenino" href="../../custom/img/galeria/6.jpg" class="fancybox-button">
                            <img alt="Equipo femenino" src="../../custom/img/galeria/6.jpg" class="img-responsive">
                            <div class="zoomix"><i class="fa fa-search"></i></div>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-4 gallery-item">
                        <a data-rel="fancybox-button" title="Equipo masculino" href="../../custom/img/galeria/7.jpg" class="fancybox-button">
                            <img alt="Equipo masculino" src="../../custom/img/galeria/7.jpg" class="img-responsive">
                            <div class="zoomix"><i class="fa fa-search"></i></div>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-4 gallery-item">
                        <a data-rel="fancybox-button" title="Mantenimiento" href="../../custom/img/galeria/8.jpg" class="fancybox-button">
                            <img alt="Mantenimiento" src="../../custom/img/galeria/8.jpg" class="img-responsive">
                            <div class="zoomix"><i class="fa fa-search"></i></div>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-4 gallery-item">
                        <a data-rel="fancybox-button" title="Pista" href="../../custom/img/galeria/9.jpg" class="fancybox-button">
                            <img alt="Pista" src="../../custom/img/galeria/9.jpg" class="img-responsive">
                            <div class="zoomix"><i class="fa fa-search"></i></div>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-4 gallery-item">
                        <a data-rel="fancybox-button" title="Pista cubierta" href="../../custom/img/galeria/10.jpg" class="fancybox-button">
                            <img alt="Pista cubierta" src="../../custom/img/galeria/10.jpg" class="img-responsive">
                            <div class="zoomix"><i class="fa fa-search"></i></div>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-4 gallery-item">
                        <a data-rel="fancybox-button" title="Mantenimiento" href="../../custom/img/galeria/11.jpg" class="fancybox-button">
                            <img alt="Mantenimiento" src="../../custom/img/galeria/11.jpg" class="img-responsive">
                            <div class="zoomix"><i class="fa fa-search"></i></div>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-4 gallery-item">
                        <a data-rel="fancybox-button" title="Clase" href="../../custom/img/galeria/12.jpg" class="fancybox-button">
                            <img alt="Clase" src="../../custom/img/galeria/12.jpg" class="img-responsive">
                            <div class="zoomix"><i class="fa fa-search"></i></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- END CONTENT -->
    </div>
</div>