<!-- BEGIN SLIDER -->
<div class="page-slider margin-bottom-40">
    <div class="fullwidthbanner-container revolution-slider">
        <div class="fullwidthabnner">
            <ul id="revolutionul">
                <!-- THE NEW SLIDE -->
                <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400" data-thumb="../../assets/frontend/pages/img/revolutionslider/thumbs/thumb2.jpg">
                    <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
                    <img src="../../assets/frontend/pages/img/revolutionslider/bg9.jpg" alt="">

                    <div class="caption lft slide_title_white slide_item_left"
                         data-x="30"
                         data-y="90"
                         data-speed="400"
                         data-start="1500"
                         data-easing="easeOutExpo">
                        Explore the Power<br><span class="slide_title_white_bold">of Metronic</span>
                    </div>
                    <div class="caption lft slide_subtitle_white slide_item_left"
                         data-x="87"
                         data-y="245"
                         data-speed="400"
                         data-start="2000"
                         data-easing="easeOutExpo">
                        This is what you were looking for
                    </div>
                    <a class="caption lft btn dark slide_btn slide_item_left" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes"
                       data-x="187"
                       data-y="315"
                       data-speed="400"
                       data-start="3000"
                       data-easing="easeOutExpo">
                        Purchase Now!
                    </a>
                    <div class="caption lfb"
                         data-x="640"
                         data-y="0"
                         data-speed="700"
                         data-start="1000"
                         data-easing="easeOutExpo">
                        <img src="../../assets/frontend/pages/img/revolutionslider/lady.png" alt="Image 1">
                    </div>
                </li>

                <!-- THE FIRST SLIDE -->
                <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400" data-thumb="../../assets/frontend/pages/img/revolutionslider/thumbs/thumb2.jpg">
                    <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
                    <img src="../../assets/frontend/pages/img/revolutionslider/bg1.jpg" alt="">

                    <div class="caption lft slide_title slide_item_left"
                         data-x="30"
                         data-y="105"
                         data-speed="400"
                         data-start="1500"
                         data-easing="easeOutExpo">
                        Need a website design?
                    </div>
                    <div class="caption lft slide_subtitle slide_item_left"
                         data-x="30"
                         data-y="180"
                         data-speed="400"
                         data-start="2000"
                         data-easing="easeOutExpo">
                        This is what you were looking for
                    </div>
                    <div class="caption lft slide_desc slide_item_left"
                         data-x="30"
                         data-y="220"
                         data-speed="400"
                         data-start="2500"
                         data-easing="easeOutExpo">
                        Lorem ipsum dolor sit amet, dolore eiusmod<br> quis tempor incididunt. Sed unde omnis iste.
                    </div>
                    <a class="caption lft btn green slide_btn slide_item_left" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes"
                       data-x="30"
                       data-y="290"
                       data-speed="400"
                       data-start="3000"
                       data-easing="easeOutExpo">
                        Purchase Now!
                    </a>
                    <div class="caption lfb"
                         data-x="640"
                         data-y="55"
                         data-speed="700"
                         data-start="1000"
                         data-easing="easeOutExpo">
                        <img src="../../assets/frontend/pages/img/revolutionslider/man-winner.png" alt="Image 1">
                    </div>
                </li>

                <!-- THE SECOND SLIDE -->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-delay="9400" data-thumb="../../assets/frontend/pages/img/revolutionslider/thumbs/thumb2.jpg">
                    <img src="../../assets/frontend/pages/img/revolutionslider/bg2.jpg" alt="">
                    <div class="caption lfl slide_title slide_item_left"
                         data-x="30"
                         data-y="125"
                         data-speed="400"
                         data-start="3500"
                         data-easing="easeOutExpo">
                        Powerfull &amp; Clean
                    </div>
                    <div class="caption lfl slide_subtitle slide_item_left"
                         data-x="30"
                         data-y="200"
                         data-speed="400"
                         data-start="4000"
                         data-easing="easeOutExpo">
                        Responsive Admin &amp; Website Theme
                    </div>
                    <div class="caption lfl slide_desc slide_item_left"
                         data-x="30"
                         data-y="245"
                         data-speed="400"
                         data-start="4500"
                         data-easing="easeOutExpo">
                        Lorem ipsum dolor sit amet, consectetuer elit sed diam<br> nonummy amet euismod dolore.
                    </div>
                    <div class="caption lfr slide_item_right"
                         data-x="635"
                         data-y="105"
                         data-speed="1200"
                         data-start="1500"
                         data-easing="easeOutBack">
                        <img src="../../assets/frontend/pages/img/revolutionslider/mac.png" alt="Image 1">
                    </div>
                    <div class="caption lfr slide_item_right"
                         data-x="580"
                         data-y="245"
                         data-speed="1200"
                         data-start="2000"
                         data-easing="easeOutBack">
                        <img src="../../assets/frontend/pages/img/revolutionslider/ipad.png" alt="Image 1">
                    </div>
                    <div class="caption lfr slide_item_right"
                         data-x="735"
                         data-y="290"
                         data-speed="1200"
                         data-start="2500"
                         data-easing="easeOutBack">
                        <img src="../../assets/frontend/pages/img/revolutionslider/iphone.png" alt="Image 1">
                    </div>
                    <div class="caption lfr slide_item_right"
                         data-x="835"
                         data-y="230"
                         data-speed="1200"
                         data-start="3000"
                         data-easing="easeOutBack">
                        <img src="../../assets/frontend/pages/img/revolutionslider/macbook.png" alt="Image 1">
                    </div>
                    <div class="caption lft slide_item_right"
                         data-x="865"
                         data-y="45"
                         data-speed="500"
                         data-start="5000"
                         data-easing="easeOutBack">
                        <img src="../../assets/frontend/pages/img/revolutionslider/hint1-red.png" id="rev-hint1" alt="Image 1">
                    </div>
                    <div class="caption lfb slide_item_right"
                         data-x="355"
                         data-y="355"
                         data-speed="500"
                         data-start="5500"
                         data-easing="easeOutBack">
                        <img src="../../assets/frontend/pages/img/revolutionslider/hint2-red.png" id="rev-hint2" alt="Image 1">
                    </div>
                </li>

                <!-- THE THIRD SLIDE -->
                <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400" data-thumb="../../assets/frontend/pages/img/revolutionslider/thumbs/thumb2.jpg">
                    <img src="../../assets/frontend/pages/img/revolutionslider/bg3.jpg" alt="">
                    <div class="caption lfl slide_item_left"
                         data-x="30"
                         data-y="95"
                         data-speed="400"
                         data-start="1500"
                         data-easing="easeOutBack">
                        <iframe src="http://player.vimeo.com/video/56974716?portrait=0" width="420" height="240" style="border:0" allowFullScreen></iframe>
                    </div>
                    <div class="caption lfr slide_title"
                         data-x="470"
                         data-y="100"
                         data-speed="400"
                         data-start="2000"
                         data-easing="easeOutExpo">
                        Responsive Video Support
                    </div>
                    <div class="caption lfr slide_subtitle"
                         data-x="470"
                         data-y="170"
                         data-speed="400"
                         data-start="2500"
                         data-easing="easeOutExpo">
                        Youtube, Vimeo and others.
                    </div>
                    <div class="caption lfr slide_desc"
                         data-x="470"
                         data-y="220"
                         data-speed="400"
                         data-start="3000"
                         data-easing="easeOutExpo">
                        Lorem ipsum dolor sit amet, consectetuer elit sed diam<br> nonummy amet euismod dolore.
                    </div>
                    <a class="caption lfr btn yellow slide_btn" href=""
                       data-x="470"
                       data-y="280"
                       data-speed="400"
                       data-start="3500"
                       data-easing="easeOutExpo">
                        Watch more Videos!
                    </a>
                </li>

                <!-- THE FORTH SLIDE -->
                <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400" data-thumb="../../assets/frontend/pages/img/revolutionslider/thumbs/thumb2.jpg">
                    <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
                    <img src="../../assets/frontend/pages/img/revolutionslider/bg4.jpg" alt="">
                    <div class="caption lft slide_title"
                         data-x="30"
                         data-y="105"
                         data-speed="400"
                         data-start="1500"
                         data-easing="easeOutExpo">
                        What else included ?
                    </div>
                    <div class="caption lft slide_subtitle"
                         data-x="30"
                         data-y="180"
                         data-speed="400"
                         data-start="2000"
                         data-easing="easeOutExpo">
                        The Most Complete Admin Theme
                    </div>
                    <div class="caption lft slide_desc"
                         data-x="30"
                         data-y="225"
                         data-speed="400"
                         data-start="2500"
                         data-easing="easeOutExpo">
                        Lorem ipsum dolor sit amet, consectetuer elit sed diam<br> nonummy amet euismod dolore.
                    </div>
                    <a class="caption lft slide_btn btn red slide_item_left" href="http://www.keenthemes.com/preview/index.php?theme=metronic_admin" target="_blank"
                       data-x="30"
                       data-y="300"
                       data-speed="400"
                       data-start="3000"
                       data-easing="easeOutExpo">
                        Learn More!
                    </a>
                    <div class="caption lft start"
                         data-x="670"
                         data-y="55"
                         data-speed="400"
                         data-start="2000"
                         data-easing="easeOutBack"  >
                        <img src="../../assets/frontend/pages/img/revolutionslider/iphone_left.png" alt="Image 2">
                    </div>

                    <div class="caption lft start"
                         data-x="850"
                         data-y="55"
                         data-speed="400"
                         data-start="2400"
                         data-easing="easeOutBack"  >
                        <img src="../../assets/frontend/pages/img/revolutionslider/iphone_right.png" alt="Image 3">
                    </div>
                </li>
            </ul>
            <div class="tp-bannertimer tp-bottom"></div>
        </div>
    </div>
</div>
<!-- END SLIDER -->

<div class="container">
    <!-- BEGIN SERVICE BOX -->
    <div class="row service-box margin-bottom-40">
        <div class="col-md-4 col-sm-4">
            <div class="service-box-heading">
                <em><i class="fa fa-users blue"></i></em>
                <span>Clases</span>
            </div>
            <p>
                El conjunto de monitores más cualificados se encargará de darte formación en cuanto a técnica requerida en este deporte. Las clases prácticas te permitirán interiorizar los movimientos adecuados como si fuesen naturales.
            </p>
            <p>
                Las clases colectivas convierten las clases en un espacio dinámico en el que jugar se convierte en una actividad placentera y divertida.
            </p>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="service-box-heading">
                <em><i class="fa fa-user red"></i></em>
                <span>Entrenamientos personalizados</span>
            </div>
            <p>
                Si te sientes un campeón, de verdad lo eres o simplemente quieres avanzar rápidamente en la ténica que rodea a este deporte te podemos configurar sesiones de entrenamiento a tu medida con un entrenado personal que se encargará de:
            </p>
            <ul>
                <li>Enseñarte la técnica adecuada para mejarar tus golpes</li>
                <li>Enseñarte a combinar la potencia con la ténica</li>
                <li>Mostrarte cómo mejorar el rendimiento en equipo</li>
                <li>Explicarte cómo utilizar la presión de los campeonatos en tu beneficio</li>
            </ul>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="service-box-heading">
                <em><i class="fa fa-trophy green"></i></em>
                <span>Campeonatos</span>
            </div>
            <p>
                El club organiza campeonatos periodicos e los que te puedes divertir al mismo tiempo que mejoras en el deporte. Tenemos campeonatos de un dia, de fin de semana y ligas regulares. Pueder participar en los torneos masculinos, femeninos y mixtos.
            </p>
        </div>
    </div>
    <!-- END SERVICE BOX -->

    <!-- BEGIN BLOCKQUOTE BLOCK -->
    <div class="row quote-v1 margin-bottom-30 text-center">
        <div class="col-md-12">
            <span>Me levanto cada mañana con un único pensamiento: ¡ser el mejor! <i>Paquito Navarro</i></span>
        </div>
    </div>
    <!-- END BLOCKQUOTE BLOCK -->


    <!-- TESTIMONIALS -->
    <div class="col-md-6 col-md-offset-3 testimonials-v1">
        <div id="myCarousel" class="carousel slide">
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="active item">
                    <blockquote><p>¡Es una iniciativa estupenda! Es el primer año que me apunto y aunque los primeros días acabé con agujetas, estoy muy contenta.</p></blockquote>
                    <div class="carousel-info">
                        <img class="pull-left" src="../../assets/frontend/pages/img/people/img1-small.jpg" alt="">
                        <div class="pull-left">
                            <span class="testimonials-name">Ana</span>
                            <span class="testimonials-post">Estudiante de Ingeniería Informática</span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <blockquote><p>Estoy apuntado desde hace 2 años, y sigo encantado. He aprendido muchísimo y los profesores y compañeros son geniales</p></blockquote>
                    <div class="carousel-info">
                        <img class="pull-left" src="../../assets/frontend/pages/img/people/img5-small.jpg" alt="">
                        <div class="pull-left">
                            <span class="testimonials-name">María García</span>
                            <span class="testimonials-post">Estudiante de Bellas Artes</span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <blockquote><p>Después de una sesión de 2 horas acabo agotada, pero el esfuerzo merece la pena</p></blockquote>
                    <div class="carousel-info">
                        <img class="pull-left" src="../../assets/frontend/pages/img/people/img2-small.jpg" alt="">
                        <div class="pull-left">
                            <span class="testimonials-name">Julio López</span>
                            <span class="testimonials-post">Estudiante de medicina</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Carousel nav -->
            <a class="left-btn" href="#myCarousel" data-slide="prev"></a>
            <a class="right-btn" href="#myCarousel" data-slide="next"></a>
        </div>
    </div>
    <!-- END TESTIMONIALS -->

</div>
