<div class="container">

    <ul class="breadcrumb">
        <li><a href="#">Instalaciones</a></li>
        <li class="active">Ver Instalaciones</li>
    </ul>

    <!-- BEGIN SIDEBAR & CONTENT -->
    <div class="row margin-bottom-40">
        <!-- BEGIN CONTENT -->
        <div class="col-md-12 col-sm-12">
            <h1>Instalaciones</h1>
            <div class="content-page">

                <div class="row margin-bottom-30">

                    <div class="col-md-6 text-center">
                        <img src="../../custom/img/instalaciones.jpg" class="img-responsive">
                    </div>

                    <div class="col-md-6">
                        <h2>Disponemos de:</h2>
                        <ul>
                            <li>23 pistas de Pádel (11 de muro, 8 de ellas cubiertas y 12 de cristal).</li>
                            <li>12 canchas cubiertas de Golf para prácticas.</li>
                            <li>1 pista de Beach Tennis.</li>
                            <li>Zona Infantil.</li>
                            <li>Praderas de césped artificial para la hospitalidad de los torneos.</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- BEGIN SIDEBAR & CONTENT -->
</div>