<section class="container page-container">
    <!-- BEGIN SIDEBAR & CONTENT -->
    <div class="row margin-bottom-40">

        <!-- BEGIN CONTENT -->
        <div class="col-md-12 col-sm-12">
            <h1>Login</h1>
            <div class="content-form-page">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-sm-12 text-center">
                        <div class="alert alert-success hidden">
                            <strong>¡Éxito!</strong>
                            Usted se ha logueado correctamente.
                        </div>
                        <div class="alert alert-danger hidden">
                            <!--Mensaje personalizado desde JS para errores de la petición de login-->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7 col-sm-7">
                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button> Hay errores en el formulario.
                        </div>
                        <!--EL FORMULARIO SE ENVÍA POR JS UNA VEZ QUE ESTÉ CORRECTAMENTE VALIDADO-->
                        <form class="form-horizontal form-without-legend" role="form" name="formLogin" id="formLogin">
                            <div class="form-group">
                                <label for="usuario" class="col-lg-4 control-label">Usuario</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control" name="idUsuario" id="idUsuario" ng-model="idUsuario" placeholder="Identificador de usuario">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="correo" class="col-lg-4 control-label">Correo</label>
                                <div class="col-lg-8">
                                    <input type="email" class="form-control" name="correo" id="correo" ng-model="correo" placeholder="Correo electrónico">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-lg-4 control-label">Clave <span class="require">*</span></label>
                                <div class="col-lg-8">
                                    <input type="password" class="form-control" name="clave" id="clave" ng-model="clave" placeholder="Clave de acceso">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-7">
                                    <img class="pull-right" id="dragImage" src="../../custom/img/miw.png" draggable="true" ondragstart="drag(event)">
                                </div>
                                <div class="col-md-5 form-control" id="dropDiv" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                                <label class="col-lg-7 control-label">Introduce la imagen en la caja <span class="require">*</span></label>
                            </div>

                            <div class="row">
                                <div class="col-lg-8 col-md-offset-4 padding-left-0 padding-top-20">
                                    <button type="submit" class="btn btn-primary">
                                        Enviar
                                        <i class="fa fa-arrow-right"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4 col-sm-4 pull-right">
                        <div class="form-info">
                            <h2><em>Información importante</em></h2>
                            <p>Para poder realizar reservas debe identificarse correctamente.</p>
                            <p>Puedes identificarte mediante el usuario o el correo electrónico. No es necesario rellenar los dos campos.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END SIDEBAR & CONTENT -->
</section>