<div class="container page-container">

    <ul class="breadcrumb">
        <li><a href="#">Instalaciones</a></li>
        <li class="active">Normativa</li>
    </ul>

    <div class="row margin-bottom-40">
        <!-- BEGIN CONTENT -->
        <div class="col-md-12 col-sm-12">
            <h1>Normativa</h1>
            <div class="content-page">
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <ul class="tabbable faq-tabbable">
                            <li class="active"><a href="#tab_1" data-toggle="tab">NORMATIVA PARA EL USO DE LAS INSTALACIONES DE PADEL</a></li>
                            <li><a href="#tab_2" data-toggle="tab">ABONOS DE PÁDEL</a></li>
                        </ul>
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <div class="tab-content" style="padding:0; background: #fff;">
                            <!-- START TAB 1 -->
                            <div class="tab-pane active" id="tab_1">
                                <div class="panel-group" id="accordion1">
                                    <div class="panel panel-success">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a href="#accordion1_1" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle">
                                                    Reserva de pistas
                                                </a>
                                            </h4>
                                        </div>
                                        <div class="panel-collapse collapse in" id="accordion1_1">
                                            <div class="panel-body">
                                                <ol>
                                                    <li>Los turnos de reserva de las pistas ser&aacute;n en franjas de 60, 75, 90 &oacute; 120 minutos y un m&aacute;ximo de 4 jugadores por pista.</li>
                                                    <li>Una vez concluido el tiempo de reserva de juego, los usuarios deber&aacute;n abandonar las pistas y recoger todas sus pertenenc&iacute;as.</li>
                                                    <li>La reserva de pistas se podr&aacute;&nbsp;realizar a trav&eacute;s de la web del club , <a href="http://www.clubpadelmoraleja.com">www.clubpadelmoraleja.com</a>, &nbsp;de manera presencial en la recepci&oacute;n del &nbsp;club o telef&oacute;nicamente si se dispone de saldo monedero y se ha activado el servicio, con un plazo de antelaci&oacute;n de siete d&iacute;as naturales.</li>
                                                    <li>No se garantizar&aacute; la reserva de pista hasta que no se realice el pago correspondiente de la misma. Las pistas cubiertas estar&aacute;n destinadas principalmente al uso de la escuela, quedando a disposici&oacute;n del resto de usuarios todas aquellas que la escuela no utilice.</li>
                                                    <li>Puntualmente, el Club podr&aacute; desarrollar diversas actividades de P&aacute;del, tales como torneos, competiciones, eventos, etc. En estos casos, los usuarios ser&aacute;n avisados con la mayor antelaci&oacute;n posible de las alteraciones o modificaciones que puedan producirse en la reserva de las pistas.</li>
                                                    <li>Los usuarios, en el momento de hacer la reserva, manifiestan estar f&iacute;sicamente aptos para realizar actividad f&iacute;sico-deportiva.</li>
                                                    <li>Si por motivos climatol&oacute;gicos u otros de fuerza mayor no se pudiera utilizar las pistas, el importe de la reserva pasar&aacute; al sistema de saldo monedero del cliente, quedando a su disposici&oacute;n para sucesivas reservas.&nbsp;La &uacute;ltima decisi&oacute;n en lo referente a la cancelaci&oacute;n de las reservas, ser&aacute; tomada por el club.</li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-warning">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a href="#accordion1_2" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle collapsed">
                                                    Cancelación de reservas
                                                </a>
                                            </h4>
                                        </div>
                                        <div class="panel-collapse collapse" id="accordion1_2">
                                            <div class="panel-body">
                                                <ol>
                                                    <li>La cancelaci&oacute;n o cambio de d&iacute;a de reserva de pistas&nbsp;se podr&aacute; realizar con 24 horas de antelaci&oacute;n.&nbsp;El importe de la reserva pasar&aacute; al sistema de saldo monedero del cliente, estando a su disposici&oacute;n para sucesivas reservas.&nbsp;Fuera de estos plazos, no habr&aacute; derecho a devoluciones ni a cambios.</li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-danger">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a href="#accordion1_3" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle collapsed">
                                                    Reserva de pistas fijas
                                                </a>
                                            </h4>
                                        </div>
                                        <div class="panel-collapse collapse" id="accordion1_3">
                                            <div class="panel-body">
                                                <ol>
                                                    <li>El usuario que desee obtener pista fija (d&iacute;a fijo y horario fijo) s&oacute;lo lo podr&aacute; hacer mediante la contrataci&oacute;n del bono de 20 usos.</li>
                                                    <li>La duraci&oacute;n de la reserva de pista fija ser&aacute; la misma que la duraci&oacute;n del bono, pudiendo renovarse sin perder el derecho a la pista 15&nbsp;d&iacute;as antes de gastar el &uacute;ltimo uso, mediante la compra de un nuevo bono de 20 usos.</li>
                                                    <li><span style="font-size:13px">S&oacute;lo se destinan a pista fija las pistas descubiertas del Club Padel La Moraleja. En caso de condiciones meteorol&oacute;gicas adversas, el usuario podr&aacute; contactar con el Club Padel La Moraleja para solicitar el cambio a pista cubierta, siempre que exista disponibilidad de la misma. (dentro de las 24 horas de la reserva).</span>&nbsp;<span style="font-size:13px">En caso de no existir posibilidad de cambio a pista cubierta, el usuario podr&aacute; desestimar el uso del bono, sin p&eacute;rdida del mismo. El personal del Club Padel La Moraleja ser&aacute; el encargado de valorar las condiciones meteorol&oacute;gicas adversas y/o estado de las instalaciones.</span></li>
                                                    <li>La pol&iacute;tica de cancelaci&oacute;n para las pistas fijas ser&aacute; de 48 horas, d&aacute;ndose por consumido el uso de la pista para cancelaciones realizadas fuera de este plazo.</li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-success">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a href="#accordion1_4" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle collapsed">
                                                    Accesos
                                                </a>
                                            </h4>
                                        </div>
                                        <div class="panel-collapse collapse" id="accordion1_4">
                                            <div class="panel-body">
                                                <ol>
                                                    <li>No se permite la entrada de bicicletas, patines, monopatines u otros juegos u objetos de identidad semejante que puedan ocasionar molestias a los usuarios y actividades.</li>
                                                    <li>No está permitido impartir clases a personas ajenas a la escuela del club de pádel la Moraleja, así como la entrada con carros u otros complementos dedicados a la enseñanza del pádel.</li>
                                                    <li>No se permite acceder al recinto bajo sospecha de estado de embriaguez o inconsciencia manifiesta.</li>
                                                    <li>No se permite la entrada de animales a la instalación.</li>
                                                    <li>El Club no se hace responsable de la pérdida de objetos en sus  instalaciones.</li>
                                                    <li>El depósito en taquillas corresponde exclusivamente a ropa y calzado y enseres destinados a la higiene y aseo personal.</li>
                                                    <li>No se permite hacer uso de las taquillas fuera del horario de las instalaciones del Club. Diariamente se revisaran todas las taquillas y desalojarán los objetos que se encuentren en su interior.</li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-warning">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a href="#accordion1_5" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle collapsed">
                                                    Instalaciones
                                                </a>
                                            </h4>
                                        </div>
                                        <div class="panel-collapse collapse" id="accordion1_5">
                                            <div class="panel-body">
                                                <ol>
                                                    <li>No se permitirá cualquier acción que perturbe o moleste la tranquilidad y comodidad del resto de usuarios.</li>
                                                    <li>No se permitirá trasladar mobiliario del sitio destinado para ello, salvo con autorización expresa del personal de la instalación.</li>
                                                    <li>Para la utilización de las pistas de Padel se deberá ir provisto de equipación y calzado deportivo adecuado. Esta prohibido estar sin camiseta en las pistas de Pádel. Tanto las palas como las pelotas utilizadas, deberán ser las del deporte del Padel.</li>
                                                    <li>Al finalizar el uso  de la pista, el usuario procurará no dejar abandonados utensilios o botellas que haya utilizado.</li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-danger">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a href="#accordion1_6" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle collapsed">
                                                    Seguridad e higiene
                                                </a>
                                            </h4>
                                        </div>
                                        <div class="panel-collapse collapse" id="accordion1_6">
                                            <div class="panel-body">
                                                <ol>
                                                    <li>El Club declina toda responsabilidad de las lesiones que se pudieran originar derivadas de la práctica deportiva.</li>
                                                    <li>Por razones de higiene, todos los desperdicios deberán ser depositados en las papeleras del recinto.</li>
                                                    <li>Aquellos usuarios que con sus actuaciones provoquen altercados, alteren la normal convivencia, causen molestias a otros usuarios o no respeten el cumplimiento de la normativa, podrán ser expulsados del recinto.</li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-success">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a href="#accordion1_7" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle collapsed">
                                                    Observaciones
                                                </a>
                                            </h4>
                                        </div>
                                        <div class="panel-collapse collapse" id="accordion1_7">
                                            <div class="panel-body">
                                                <ol>
                                                    <li>Si el usuario observa alguna anomalía o desperfecto en la instalación deberá notificarlo en el mostrador de reserva de pistas.</li>
                                                    <li>Aquellos usuarios que hagan un mal uso de las instalaciones o provoquen daños intencionados en las mismas, serán sancionados con la imposibilidad de hacer uso de las instalaciones durante el tiempo que el Club determine; sin menoscabo de otras medidas que se puedan adoptar.</li>
                                                    <li>Queda reservado el derecho de admisión.</li>
                                                    <li>Todo usuario tiene derecho a exigir el cumplimiento de estas normas por medio de los empleados y responsables de las instalaciones, si lo considerasen necesario podrán solicitar la presentación de las oportunas hojas de reclamaciones y/o sugerencias, para reflejar en ellas lo que estimen oportuno.</li>
                                                    <li>El Club, se reserva el derecho a interpretar el presente texto, a través de su propio personal, en todo lo referente a los puntos anteriormente citados y demás normativa aplicable, y se reserva la posibilidad de realizar modificaciones en las Normativa vigente para un mejor uso y disfrute de las instalaciones.</li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END TAB 1 -->

                            <!-- START TAB 2 -->
                            <div class="tab-pane" id="tab_2">
                                <div class="panel-group" id="accordion2">
                                    <div class="panel panel-success">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a href="#accordion2_1" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">
                                                    Abono de pádel
                                                </a>
                                            </h4>
                                        </div>
                                        <div class="panel-collapse collapse  in" id="accordion2_1">
                                            <div class="panel-body">
                                                <ol>
                                                    <li>Los abonados podr&aacute;n jugar 1,5 horas al d&iacute;a, en cualquier pista a cualquier hora del d&iacute;a; y&nbsp;cuantas veces deseen, en cualquier tipo de pista en el siguiente horario: De 9.00 a 14.00 y de 16.00 a 18.00 horas de lunes a viernes (excepto festivos). De 14.00 a cierre s&aacute;bados, domingos y festivos.</li>
                                                    <li>El abonado podr&aacute; realizar su reserva por tel&eacute;fono (activando el servicio) o en la recepci&oacute;n del Club. El resto de los usuarios que ocupen la reserva&nbsp;abonar&aacute;n su parte antes del uso de la pista.</li>
                                                    <li>Siempre que el abonado realice la reserva, si quedara importe pendiente de la misma, &eacute;sta se cargar&aacute; contra el abonado que ser&aacute; el responsable de realizar el pago total, no pudiendo realizar otra reserva hasta satisfacer el pago anterior.&nbsp;</li>
                                                    <li>El abonado podr&aacute; participar en reservas realizadas por otros usuarios, comunic&aacute;ndolo en recepci&oacute;n. El importe sobrante al introducir a un abonado en una reserva, se devolver&aacute; al saldo monedero del usuario que realiz&oacute; la reserva.&nbsp;</li>
                                                    <li>El abonado siempre tendr&aacute; que identificarse en la recepci&oacute;n del Club antes de hacer uso de cada reserva.</li>
                                                    <li>Tanto el abonado como el resto de usuarios de la reserva disfrutar&aacute;n de 3 horas de parking gratuito.</li>
                                                    <li>El abono es personal e intransferible. No es v&aacute;lido para grupos.&nbsp;</li>
                                                    <li>El Club se reserva el derecho de cancelar el abono por mal uso del mismo.</li>
                                                    <li>Descuentos no acumulables.</li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END TAB 2 -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END CONTENT -->
    </div>
</div>