<div class="container">
    <!--    <ul class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="javascript:;">Pages</a></li>
            <li class="active">Create new account</li>
        </ul>-->
    <!-- BEGIN SIDEBAR & CONTENT -->
    <div class="row margin-bottom-40">

        <!-- BEGIN CONTENT -->
        <div class="col-md-12 col-sm-12">
            <h1>Crear una cuenta</h1>
            <div class="content-form-page">
                <div class="row">
                    <div class="col-md-7 col-sm-7">
                        <form class="form-horizontal" role="form">
                            <fieldset>
                                <legend>Información personal</legend>
                                <div class="form-group">
                                    <label for="usuario" class="col-lg-4 control-label">Usuario <span class="require">*</span></label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" name="usuario" id="usuario" required="required">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="col-lg-4 control-label">Correo <span class="require">*</span></label>
                                    <div class="col-lg-8">
                                        <input type="email" class="form-control" name="correo" id="correo" required="required">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fechaNacimiento" class="col-lg-4 control-label">Fecha de nacimiento <span class="require">*</span></label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control date-picker" name="fechaNacimiento" id="fechaNacimiento" required="required">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>Clave de acceso</legend>
                                <div class="form-group">
                                    <label for="clave" class="col-lg-4 control-label">Clave <span class="require">*</span></label>
                                    <div class="col-lg-8">
                                        <input type="password" class="form-control" id="clave" name="clave" required="required">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="repetir-clave" class="col-lg-4 control-label">Repita la clave <span class="require">*</span></label>
                                    <div class="col-lg-8">
                                        <input type="password" class="form-control" id="repetir-clave" name="repetir-clave" required="required">
                                    </div>
                                </div>
                            </fieldset>
                            <div class="row">
                                <div class="col-lg-8 col-md-offset-4 padding-left-0 padding-top-20">
                                    <button type="submit" class="btn btn-primary">Enviar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4 col-sm-4 pull-right">
                        <div class="form-info">
                            <h2><em>Información importante</em></h2>
                            <p>Lorem ipsum dolor ut sit ame dolore  adipiscing elit, sed sit nonumy nibh sed euismod ut laoreet dolore magna aliquarm erat sit volutpat. Nostrud exerci tation ullamcorper suscipit lobortis nisl aliquip  commodo quat.</p>

                            <p>Duis autem vel eum iriure at dolor vulputate velit esse vel molestie at dolore.</p>

                            <!--<button type="button" class="btn btn-default">More details</button>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END SIDEBAR & CONTENT -->
</div>