<section class="container page-container">
    <!-- BEGIN SIDEBAR & CONTENT -->
    <div class="row margin-bottom-40">

        <!-- BEGIN CONTENT -->
        <div class="col-md-12 col-sm-12">
            <h1>Crear una cuenta</h1>
            <div class="content-form-page">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-sm-12 text-center">
                        <div class="alert alert-success hidden">
                            <strong>¡Éxito!</strong>
                            Usted se ha registrado correctamente.
                        </div>
                        <div class="alert alert-danger hidden">
                            <!--Mensaje personalizado desde JS para errores de la petición de login-->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7 col-sm-7">
                        <form class="form-horizontal" role="form" name="formRegistro" id="formRegistro">
                            <fieldset>
                                <legend>Información personal</legend>
                                <div class="form-group">
                                    <label for="usuario" class="col-lg-4 control-label">Usuario<span class="require">*</span></label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" name="idUsuario" id="idUsuario" ng-model="idUsuario" placeholder="Identificador de usuario" ng-blur="existeUsuario()">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="correo" class="col-lg-4 control-label">Correo <span class="require">*</span></label>
                                    <div class="col-lg-8">
                                        <input type="email" class="form-control" name="correo" id="correo" ng-model="correo" placeholder="Correo electrónico" ng-blur="existeCorreo()">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fechaNacimiento" class="col-lg-4 control-label">Fecha de nacimiento <span class="require">*</span></label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control date-picker" name="fechaNacimiento" id="fechaNacimiento" ng-model="fechaNacimiento" placeholder="Fecha de nacimiento">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>Clave de acceso</legend>
                                <div class="form-group">
                                    <label for="clave" class="col-lg-4 control-label">Clave <span class="require">*</span></label>
                                    <div class="col-lg-8">
                                        <input type="password" class="form-control" id="clave" name="clave" ng-model="clave" placeholder="Clave de acceso">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="repetir-clave" class="col-lg-4 control-label">Repita la clave <span class="require">*</span></label>
                                    <div class="col-lg-8">
                                        <input type="password" class="form-control" id="repetir-clave" name="repetir_clave" ng-model="repetir_clave" placeholder="Repita la clave de acceso">
                                    </div>
                                </div>
                            </fieldset>
                            <div class="row">
                                <div class="col-lg-8 col-md-offset-4 padding-left-0 padding-top-20">
                                    <button type="submit" class="btn btn-primary">
                                        Enviar
                                        <i class="fa fa-arrow-right"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4 col-sm-4 pull-right">
                        <div class="form-info">
                            <h2><em>Información importante</em></h2>
                            <p>Recuerde que es posible registrarse con su cuenta de alumno.</p>
                            <p>Posteriormente podrá iniciar sesión con su usuario o correo con el que se ha registrado.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END SIDEBAR & CONTENT -->
</section>