<section class="container page-container">
    <!-- BEGIN SIDEBAR & CONTENT -->
    <div class="row margin-bottom-40">
        <!-- BEGIN CONTENT -->
        <div class="col-md-12 col-sm-12">
            <h1>Reservar una pista</h1>
            <div class="content-page">
                <div class="row margin-bottom-30">
                    <!-- BEGIN CAROUSEL -->
                    <div class="col-md-5 front-carousel">
                        <div class="carousel slide" id="myCarousel">
                            <!-- Carousel items -->
                            <div class="carousel-inner">
                                <div class="item">
                                    <img alt="Pista de muro" src="../../custom/img/pista/1.jpg">
                                    <div class="carousel-caption">
                                        <p>Pista de muro</p>
                                    </div>
                                </div>
                                <div class="item active">
                                    <img alt="Pista cubierta" src="../../custom/img/pista/2.jpg">
                                    <div class="carousel-caption">
                                        <p>Pista cubierta</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <img alt="Pista de cristal" src="../../custom/img/pista/3.jpg">
                                    <div class="carousel-caption">
                                        <p>Pista de cristal</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Carousel nav -->
                            <a data-slide="prev" href="#myCarousel" class="carousel-control left">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a data-slide="next" href="#myCarousel" class="carousel-control right">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                    <!-- END CAROUSEL -->

                    <!-- BEGIN DESCRIPTION -->
                    <div class="col-md-7 text-center">
                        <div class="col-md-5">
                            <h2>Consultar horas disponibles</h2>
                            <form class="form-horizontal" role="form" name="formConsultarHoras" id="formConsultarHoras">
                                <div class="date-picker" data-date-format="mm/dd/yyyy"></div>
                                <input type="hidden" id="fechaReserva" name="fechaReserva" ng-model="fechaReserva">
                                <button type="submit" class="btn btn-primary margin-top-20" ng-click="consultarHoras()">
                                    Consultar horas
                                    <i class="fa fa-arrow-right"></i>
                                </button>
                            </form>
                        </div>

                        <div class="col-md-7 hidden" id="horas">
                            <h2>Horas disponibles</h2>
                            <form class="form-horizontal" role="form" name="formReservar" id="formReservar" method="POST" onsubmit="reservar()">
                                <!--LAS HORAS DISPONIBLES SE IMPRIMEN CON ANGULARJS-->
                                <div class="radio-list" ng-repeat="hora in horas">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>Pista: {{hora.courtId}} - Hora: {{hora.date| date:'HH:mm'}}
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-primary margin-top-20">
                                    Realizar reserva
                                    <i class="fa fa-arrow-right"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <!-- END PORTFOLIO DESCRIPTION -->
                </div>

            </div>
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- BEGIN SIDEBAR & CONTENT -->
</section>