<section class="container page-container">
    <!--    <ul class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="javascript:;">Pages</a></li>
            <li class="active">Prices</li>
        </ul>-->
    <!-- BEGIN CONTENT -->
    <div class="row margin-bottom-40">
        <!-- BEGIN CONTENT -->
        <div class="col-md-12 col-sm-12">
            <h1>Tarifas</h1>
            <div class="content-page">
                <div class="row margin-bottom-40">
                    <!-- Pricing -->
                    <div class="col-md-4">
                        <div class="pricing hover-effect">
                            <div class="pricing-head">
                                <h3>Bono 5 usos
                                    <span>
                                        Caducidad 3 meses
                                    </span>
                                </h3>
                                <h4>20<i>.00 €</i>
                                    <span>
                                        Por bono
                                    </span>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="pricing hover-effect">
                            <div class="pricing-head">
                                <h3>Bono 10 usos
                                    <span>
                                        Caducidad 6 meses
                                    </span>
                                </h3>
                                <h4>35<i>.00 €</i>
                                    <span>
                                        Por bono
                                    </span>
                                </h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="pricing hover-effect">
                            <div class="pricing-head">
                                <h3>Bono 20 usos
                                    <span>
                                        Caducidad 12 meses
                                    </span>
                                </h3>
                                <h4>60<i>.00 €</i>
                                    <span>
                                        Por bono
                                    </span>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <!--//End Pricing -->
                </div>
                <div class="row margin-bottom-40">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="table-scrollable">
                            <table class="table table-striped table-hover">
                                <thead class="table-background-primary">
                                    <tr>
                                        <th>
                                            Tipo de pista
                                        </th>
                                        <th>
                                            60 min.
                                        </th>
                                        <th>
                                            75 min.
                                        </th>
                                        <th>
                                            90 min.
                                        </th>
                                        <th>
                                            120 min.
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="table-background-second">
                                            Descubierta
                                        </td>
                                        <td>
                                            16 €
                                        </td>
                                        <td>
                                            19 €
                                        </td>
                                        <td>
                                            22 €
                                        </td>
                                        <td>
                                            27 €
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-background-second">
                                            Cubierta
                                        </td>
                                        <td>
                                            18 €
                                        </td>
                                        <td>
                                            22 €
                                        </td>
                                        <td>
                                            25 €
                                        </td>
                                        <td>
                                            31 €
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT -->
</section>